{{> nav}}
<form>
  Login: 
  <input type="text" name="username" id="username">
  Pasword: 
  <input type="password" name="password" id="password">
  <button id="submit">Submit</button>
</form>

<script src="/js/login.js"></script>
